* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place behind other elements */
}

#background-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9; /* Set opacity for the video */
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 15px;
}

h1 {
    margin: 0;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #555;
    background-color: #202020;
    color: #ffffff;
}

button {
    padding: 10px;
    margin-left: 5px;
    border: none;
    color: #ffffff;
    background-color: #444;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #666;
}


#locations-checklist {
    text-align: left;
    color: white;
}

#checklist {
    list-style-type: none;
    padding: 0;
}

#checklist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.delete-btn {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
}